# Correction des exo sur Pandas

In [11]:
#Importation de package
import numpy as np
import pandas as pd

Exercice 1

In [12]:
#Créez une série de pandas à partir de chacun des éléments ci-dessous : une
l#iste, numpy et un dictionnaire
#serie(igs1) utilisant la liste doit contenir tous les 26 lettres de l’alphabet
igs1 = list('abcedfghijklmnopqrstuvwxyz')

In [13]:
#serie(igs2) utilisant le tableau numpy de 26 chiffre pris au hasard
igs2 = np.arange(26)

In [14]:
#serie(igs3) utilisant le dictionnaire qui doit etre une concatenation des deux precedants
igs3 = dict(zip(igs1, igs2))

Question 2

In [15]:
#Convertissez la série igs en une trame de données avec son index comme une 
#autre colonne sur la trame de données et affichez les 05 premiere lignes
igs = pd.Series(igs3)

# Solution
df = igs.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

# Question 3

In [21]:
#Combinez igs1 et igs2 pour former une trame de données.
igs1 = pd.Series([1, 2, 3, 4, 5])
igs2 = pd.Series([4, 5, 6, 7, 8])

# Solution 1
df = pd.concat([igs1, igs2], axis=1)

In [22]:
# Solution 2
df = pd.DataFrame({'igs1': igs1, 'igs2': igs2})
print(df.head())

   igs1  igs2
0     1     4
1     2     5
2     3     6
3     4     7
4     5     8

Question4

In [23]:
#Donnez un nom à la série igs en l'appelant "alpha".
igs = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# Solution
igs.name = 'alpha'
igs.head()

0    a
1    b
2    c
3    e
4    d
Name: alpha, dtype: object

Question 5

In [25]:
#De igs1 supprimer les éléments présents dans igs2
igs1 = pd.Series([1, 2, 3, 4, 5])
igs2 = pd.Series([4, 5, 6, 7, 8])

# Solution
igs1[~igs2.isin(igs2)]

Series([], dtype: int64)

Question 6

In [27]:
#Calculez le minimum, le 25e centile, la médiane, le 75e et le maximum de igs
igs= pd.Series(np.random.normal(10, 5, 25))

# Solution
np.percentile(igs, q=[0, 25, 50, 75, 100])

array([ 0.27618998,  6.42846752,  8.95246069, 11.61246197, 17.78178576])

Question 7

In [28]:
#Calculez le nombre de fréquences de chaque valeur unique igs
igs = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

#solution
# Solution
igs.value_counts()

c    6
h    6
g    4
b    4
e    3
a    3
d    2
f    2
dtype: int64

Question 8

In [31]:
#À partir de ruf(une variable), conservez les 2 éléments les plus fréquents et
#remplacez tout le reste par "Autre".
np.random.RandomState(100)
ruf = pd.Series(np.random.randint(1, 5, [12]))


#Solution
print("Top 2 Freq:", ruf.value_counts())
ruf[~ruf.isin(ruf.value_counts().index[:2])] = 'Autre'
ruf

Top 2 Freq: 2    4
3    3
1    3
4    2
dtype: int64

0         3
1     Autre
2     Autre
3         2
4         3
5         2
6     Autre
7     Autre
8     Autre
9         2
10        2
11        3
dtype: object

#Question 9

In [32]:
#Changez le premier caractère de chaque mot en majuscule dans chaque mot de ruf
Ruf = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
Ruf.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [33]:
# Solution 2
Ruf.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [34]:
# Solution 3
pd.Series([i.title() for i in Ruf])

0     How
1      To
2    Kick
3    Ass?
dtype: object

Question 10

In [35]:
#Calculez la distance euclidienne entre les séries (points) p et q

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# Solution 1
sum((p - q)**2)**.5

18.16590212458495

In [36]:
# Solution 2
np.linalg.norm(p-q)

18.16590212458495

Question 11

In [37]:
#Supprime les notations scientifiques comme 'e-03' dans df et imprime jusqu'à 4
#chiffres après la décimale.
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

In [38]:
df

         random
0  6.421248e-03
1  9.479823e-07
2  7.383777e-03
3  2.451936e-02

In [39]:
# Solution 1: Arrondir
df.round(4)

   random
0  0.0064
1  0.0000
2  0.0074
3  0.0245

In [40]:
# Solution 2: Utilisez "apply" pour modifier le format
df.apply(lambda x: '%.4f' % x, axis=1)

0    0.0064
1    0.0000
2    0.0074
3    0.0245
dtype: object

In [41]:
#Autre alternative de la solution 2
df.applymap(lambda x: '%.4f' % x)

   random
0  0.0064
1  0.0000
2  0.0074
3  0.0245

In [43]:
# Solution 3: utiliser set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

In [44]:
# Solution 4: attribuer display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

   random
0  0.0064
1  0.0000
2  0.0074
3  0.0245

In [45]:
# Remise à zéro/annulation du formatage des flottes
pd.options.display.float_format = None

In [47]:
#Redonner à df la forme du plus grand carré possible en supprimant les valeurs
#négatives. Supprimez les valeurs les plus petites si nécessaire. L'ordre des nombres
#positifs dans le résultat doit rester le même que celui de l'original.

df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

# Solution
# étape1 1: supprimer les valeurs négatives de ett
ett = df[df > 0].values.flatten()
ett_qualified = ett[~np.isnan(ett)]

# étape 2: trouver la longueur des côtés du plus grand carré possible
n = int(np.floor(ett_qualified.shape[0]**.5))

# étape3 3: Prendre les n^2 premiers éléments sans changer de position
top_indexes = np.argsort(ett_qualified)[::-1]
output = np.take(ett_qualified, sorted(top_indexes[:n**2])).reshape(n, -1)
print(output)

[[10. 18. 48. 29. 19. 20. 30. 13.]
 [40. 39.  9. 23. 36. 22. 27. 44.]
 [21. 23. 22. 45. 34. 35. 21. 22.]
 [10. 27. 34. 34. 20. 13. 11. 23.]
 [14. 43. 20. 42. 12. 28. 36. 40.]
 [39. 17. 47. 15. 23. 39. 10. 43.]
 [27. 42. 41. 47. 27.  8. 12. 37.]
 [41. 39. 38. 49. 22. 19. 44.  9.]]