In [8]:
import pandas as pd
import numpy as np
import string

In [24]:
#Question1
#- serie(igs1) utilisant la liste doit contenir tous les 26 lettres de l’alphabet
igs1 = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [5]:
autre1 = list(string.ascii_lowercase)
autre1

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [12]:
igs1series = pd.Series(autre1)
igs1series

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [16]:
#- serie(igs2) utilisant le tableau numpy de 26 chiffre pris au hasard
igs2 = np.arange(26)
igs2

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25])

In [17]:
autre2 = pd.Series(igs2)
autre2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [26]:
"""serie(igs3) utilisant le dictionnaire qui doit etre une concatenation des deux 
precedants """ 
igs3 = dict(zip(igs2,igs1))
print(igs3)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h', 8: 'i', 9: 'j', 10: 'k', 11: 'l', 12: 'm', 13: 'n', 14: 'o', 15: 'p', 16: 'q', 17: 'r', 18: 's', 19: 't', 20: 'u', 21: 'v', 22: 'w', 23: 'x', 24: 'y', 25: 'z'}

In [31]:
"""Question2
Convertissez la série igs en une trame de données avec son index comme une 
autre colonne sur la trame de données et affichez les 05 premiere lignes
"""
igs = pd.Series(igs3)
df = igs.to_frame().reset_index()
df

    index  0
0       0  a
1       1  b
2       2  c
3       3  d
4       4  e
5       5  f
6       6  g
7       7  h
8       8  i
9       9  j
10     10  k
11     11  l
12     12  m
13     13  n
14     14  o
15     15  p
16     16  q
17     17  r
18     18  s
19     19  t
20     20  u
21     21  v
22     22  w
23     23  x
24     24  y
25     25  z

In [32]:
df.head(5)

   index  0
0      0  a
1      1  b
2      2  c
3      3  d
4      4  e

In [35]:
"""Question3
Donnez un nom à la série igs en l'appelant "alpha".
On a : igs = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))"""
igs = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name="alpha")
igs

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alpha, dtype: object

In [8]:
"""Question4
Combinez igs1 et igs2 pour former une trame de données.
On a : igs1 = pd.Series([1, 2, 3, 4, 5]) et igs2 = pd.Series([4, 5, 6, 7, 8])"""
igs1 = pd.Series([1, 2, 3, 4, 5])
igs2 = pd.Series([4, 5, 6, 7, 8])
combine = pd.concat([igs1, igs2], axis = 1)
combine

   0  1
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

In [14]:
"""Question5
De igs1 supprimer les éléments présents dans igs2
"""
for i in igs1:
    if i==igs2:

TypeError: cannot unpack non-iterable int object