# Exercice 1 : les constructeurs

In [4]:
import numpy as np

In [5]:
#1. Constructeur un tableau numpy qui contient les éléments suivants : 1,5,7,8.
tab = np.array([1,5,7,8])

In [6]:
"""2. Constructeur un tableau numpy qui contient les éléments suivants :
1,2,3,4,5,6,7,8,9"""
tab1 = np.array([1,2,3,4,5,6,7,8,9])

In [7]:
#3. Créer un tableau de 10 éléments rempli de 0
tab_zeros = np.zeros(10,dtype="int32")
tab_zeros

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [8]:
#4. Créer un tableau de 2 lignes 5 colonnes rempli de 0
tab_ligne2_colonne5 = np.zeros([2,5],dtype="int32")
tab_ligne2_colonne5

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [9]:
#5. Créer un tableau de 10 éléments rempli de 1
tab_ones = np.ones(10, dtype="int32")
tab_ones

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [10]:
#6. Créer un tableau de 2 lignes 5 colonnes rempli de 1
tab_ones_2ligne_5colonne = np.ones([2,5],dtype="int32")
tab_ones_2ligne_5colonne

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [11]:
#7. Créer un tableau de 10 éléments rempli 8.5
tab_full = np.full(10, 8.5)
tab_full

array([8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5])

In [12]:
#8. Créer un tableau de série d'entiers successifs allant de 1 à 9 inclus
tab_entiers = np.arange(1,10)
tab_entiers

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
"""9. Créer un tableau de 3 lignes et 3 colonnes rempli de série d'entiers successifs
allant de 1 à 9 inclus
"""
tab_3ligne_3colonne = np.arange(1,10).reshape(3,3)
tab_3ligne_3colonne

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
#10.Créer une matrice identité de 4 lignes 4 colonnes
matrice_id4l4c = np.identity(4, dtype="int32")
matrice_id4l4c

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [20]:
#11. Tableau rempli de valeurs aléatoires normales centrées en zéro
#tab_alea = np.random.normal(0,10)
#tab_alea

5.384815716272717

In [23]:
"""12.Créer un tableau rempli de 20 valeurs aléatoires entières comprises entre 1 et
10
"""
tab_alea_entre1_10 = np.random.randint(1,11,20)
tab_alea_entre1_10

array([ 9,  8,  1,  2,  6,  1,  4,  4,  1,  9,  9, 10,  2,  2,  1,  3,  2,
        4,  8,  5])

In [30]:
#13.Transformer le tableau précédent en matrice de 4 lignes et 5 colonnes
transf_tab = tab_alea_entre1_10.reshape(4,5)
print(transf_tab)

[[ 9  8  1  2  6]
 [ 1  4  4  1  9]
 [ 9 10  2  2  1]
 [ 3  2  4  8  5]]

In [43]:
"""14.Créer un tableau de 5 éléments compris entre 0 et 1 avec une amplitude
égale"""
tab_5ele = np.array([0,0.6,0.7,0.8,0.9,1])
tab_5ele

array([0. , 0.6, 0.7, 0.8, 0.9, 1. ])

# Exercice 2 : les attributs d'un tableau numpy

In [45]:
#Soit le tableau a = np.array([[1,2,3],[4,5,6],[7,8,9]]).
#1. Afficher le nombre de lignes et de colonnes
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
a.shape

(3, 3)

In [47]:
#2. Afficher la dimension de mon tableau
a.ndim

2

In [50]:
#3. Afficher le nombre d'élément de mon tableau
a.size

9

In [51]:
#4. Afficher le type des éléments du tableau
a.dtype

dtype('int32')

# Exercice 3 : Indexing, slicing, subsetting, masking

In [ ]:
#Soit le tableau a = np.array([[1,2,3],[4,5,6],[7,8,9]]).
a = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [53]:
#1. afficher la valeur 5 qui est dans le tableau
b=a[1][1]
b

5

In [56]:
#2. Remplacer le 5 qui est dans le tableau par 0
b=a[1][1]=0
Remplace =a
Remplace

array([[1, 2, 3],
       [4, 0, 6],
       [7, 8, 9]])

In [63]:
#3. afficher les chiffres 3, 6 et 9 du tableau
trois =a[0][2]
six =a[1][2]
neuf =a[2][2]
print(trois, six, neuf)

3 6 9

In [89]:
"""4. créer un tableau de 4 lignes et 3 colonnes rempli de 12 nombres entiers
aléatoires compris entre 0 et 9
"""
tab12 = np.random.randint(0,10,12).reshape(4,3)
tab12

array([[5, 4, 1],
       [4, 1, 0],
       [5, 1, 4],
       [1, 1, 4]])

In [73]:
#5. Vérifier qu’il y a des nombres inférieur à 5
nb_inf = tab12 < 5
nb_inf

array([[False, False,  True],
       [False,  True, False],
       [False, False, False],
       [ True,  True,  True]])

In [88]:
#6. Remplacer les nombres inférieurs à 5 par 0
remplacer_inf = tab12[tab12 < 5]= 0
tab12

array([[6, 5, 0],
       [5, 0, 7],
       [6, 8, 8],
       [0, 0, 0]])

# Exercice 4 :

In [98]:
"""1. Créer un tableau de 4 lignes et 3 colonnes rempli de 11 nombres entiers
aléatoires compris entre 0 et 9"""
tabAlea = np.random.randint(0,10,11).reshape(4,3)
tabAlea

ValueError: cannot reshape array of size 11 into shape (4,3)